@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


		.main{
			min-height: 70%;
		}
		.center{
			/* border-left: 1px solid Gainsboro; */
		}
		.mainlink{
			margin-top : 90px;
			font-size : 20px;
			font-family: 'Nanum Gothic', sans-serif;
			color: red;
			text-align: left;
		}
		#loginForm{
			width: 30%;
			margin-left: auto;
			margin-right: auto;
			z-index: 2;
		}
		.table{
			margin-left: 50px;
			margin-right: 50px;
			align-items: center;
			align-content: center;
		}
		.logo{
			z-index:2;
		}
		.img-cover{
			   position: absolute;
			   height: 100%;
			   width: 100%;
			   background-color: rgba(0, 0, 0, 0.7);                                                                 
			   z-index:1;
		}

		/* td{
		  		padding:5px;
		  		font-size: 20px;
		  		text-align: justify;
		 } */
		 
		 
		 /* 가맹점 리스트  */
      .storeList{
      	text-align: center;
      }
		.store {
        text-align: center;
      }
      .storeImg{
      	max-width:75%; 
 		height: auto; 
      }
      /* 메뉴 리스트 */
      .menu {
	    width: 200px;
        height: 200px;
        margin: 20px;
        text-align: center;
      	display: inline-block;
      }
      .menuList{
      	width: 100%;
      	text-align: center;
      	padding-top: 10px;
      }
      .menuListRow{
      	padding-top: 30px;
      }
      .storeInfo{
      	padding-top: 10px;
      }
      .storeInfoTable{
      	text-align: center;
      }
		 
		 
		 

		