@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

		.header{
			min-height: 100px;
			background-color: white;
		}
		.main{
			min-height: 70%;
		}
		.center{
			border-left: 1px solid Gainsboro;
		}
		.mainlink{
			margin-top : 90px;
			font-size : 20px;
			font-family: 'Nanum Gothic', sans-serif;
			color: red;
			text-align: right;
		}
		#loginForm{
			width: 30%;
			margin-left: auto;
			margin-right: auto;
		}
