@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

<style type="text/css">
		.header{
			min-height: 100px;
			background-color: white;
		}
		.main{
			min-height: 70%;
		}
		.center{
			border-left: 1px solid Gainsboro;
		}
		.mainlink{
			margin-top : 85px;
			font-size : 20px;
			font-family: ‘Nanum Brush Script’ ;
			text-align: right;
			
		}
</style>