@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

		.header{
			min-height: 100px;
			background-color: white;
		}
		.main{
			min-height: 70%;
		}
		.center{
			border-left: 1px solid Gainsboro;
		}
		.mainlink{
			margin-top : 85px;
			font-size : 18px;
			font-family: ‘Nanum Brush Script’ ;
			text-align: right;
		}
		#loginForm{
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		}
